p:nth-child(5)::after{
    content: " Surya";
}
p:nth-child(3)::before{
    content: " Surya ";
    color: rgb(168, 152, 152);   
}
p:nth-child(3):hover{
background-color: red;
color: yellow;
border: 5cap solid;
cursor: help;
}
